<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.RoomTypeBeanMapper" >
  <resultMap id="BaseResultMap" type="com.bean.RoomTypeBean" >
    <id column="roomTypeId" property="roomtypeid" jdbcType="VARCHAR" />
    <result column="roomName" property="roomname" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    roomTypeId, roomName, num, gender
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bean.RoomTypeBeanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_roomtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_roomtype
    where roomTypeId = #{roomtypeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_roomtype
    where roomTypeId = #{roomtypeid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.RoomTypeBeanExample" >
    delete from tbl_roomtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.RoomTypeBean" >
    insert into tbl_roomtype (roomTypeId, roomName, num, 
      gender)
    values (#{roomtypeid,jdbcType=VARCHAR}, #{roomname,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{gender,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.RoomTypeBean" >
    insert into tbl_roomtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomtypeid != null" >
        roomTypeId,
      </if>
      <if test="roomname != null" >
        roomName,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="gender != null" >
        gender,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomtypeid != null" >
        #{roomtypeid,jdbcType=VARCHAR},
      </if>
      <if test="roomname != null" >
        #{roomname,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.RoomTypeBeanExample" resultType="java.lang.Integer" >
    select count(*) from tbl_roomtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_roomtype
    <set >
      <if test="record.roomtypeid != null" >
        roomTypeId = #{record.roomtypeid,jdbcType=VARCHAR},
      </if>
      <if test="record.roomname != null" >
        roomName = #{record.roomname,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_roomtype
    set roomTypeId = #{record.roomtypeid,jdbcType=VARCHAR},
      roomName = #{record.roomname,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      gender = #{record.gender,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.RoomTypeBean" >
    update tbl_roomtype
    <set >
      <if test="roomname != null" >
        roomName = #{roomname,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
    </set>
    where roomTypeId = #{roomtypeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.RoomTypeBean" >
    update tbl_roomtype
    set roomName = #{roomname,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR}
    where roomTypeId = #{roomtypeid,jdbcType=VARCHAR}
  </update>
</mapper>